<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipb.mapper.EventTypeMapper">

    <!-- 이벤트 타입에 대한 기능은 생성했지만 테스트는 실행하지 않은 상황입니다.
    (이벤트타입 테이블만으로 특별히 조회하거나 사용되는 상황이 없어서 DB 삭제에 대한 이야기를 했으나 일단 두기로 했음...)
    크게 사용될 부분이 없을 것 같지만 혹시 몰라서 그대로 두겠습니다. 사용하게 된다면 테스트가 필요합니다.
    -->

    <!-- 이벤트 타입 등록 -->
    <insert id="insert" parameterType="EventType">
        INSERT INTO event_type VALUES (NULL, #{name})
    </insert>

    <!-- 이벤트 타입 수정  -->
    <update id="update" parameterType="EventType">
        UPDATE event_type SET name=#{name} WHERE id = #{id}
    </update>

    <!-- 이벤트 타입 삭제 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM event_type WHERE id = #{id}
    </delete>

    <!-- 이벤트 타입 상세조회 : 이벤트 타입은 아이디비번호와 이벤트타입이름만 있기 때문에 상세보기 화면이 필요한지 조금 의문이 있었으나 생성함 -->
    <select id="select" parameterType="Long" resultType="EventType">
        SELECT * FROM event_type WHERE id = #{id}
    </select>

    <!-- 이벤트 타입 전체 조회 : 현재 존재하는 이벤트 타입 전체의 정보를 가져옴 -->
    <select id="selectall" resultType="EventType">
        SELECT * FROM event_type
    </select>


</mapper>