<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ipb.mapper.SalesMapper">
<!--    매장에 따른  매출 조회 상품 이름별 가능 원가,판매가를 통해 이익률 조회 유 판매날과 유통기한을 통해서 진실 여부 파악 가능-->
    <select id="selectsalesbystore" resultType="Sales">
        SELECT pi.name as product_name, p.price, p.cost, p.exp, st.name as store_name ,s.qnt, s.sales_date, c.name as category_name,c.id as category_id
        FROM sales s
                 INNER JOIN store_product sp on sp.id = s.store_product_id
                 INNER JOIN product p on p.id = sp.product_id
                 INNER JOIN product_info pi on  pi.product_code = p.product_info_id
                 INNER JOIN store st on st.id = sp.store_id
                 INNER JOIN category c on c.id = pi.category_id
        WHERE store_id = #{store_id};
    </select>
    <insert id="insert" parameterType="Sales">
        INSERT INTO sales VALUES (NULL, #{qnt}, now(), #{store_product_id})
    </insert>
    <delete id="delete" parameterType="Sales">
        DELETE FROM sales WHERE id = #{id}
    </delete>
<!--    전체 매장 매출 조회 카테고리,이름 상품 이름별 가능 원가,판매가를 통해 이익률 조회-->
    <select id="selectall" resultType="Sales">
        SELECT p.price, p.cost,c.id as category_id , c.name as category_name,s.qnt,pi.name
        FROM sales s
                 INNER JOIN store_product sp on sp.id = s.store_product_id
                 INNER JOIN product p on p.id = sp.product_id
                 INNER JOIN product_info pi on  pi.product_code = p.product_info_id
                 INNER JOIN store st on st.id = sp.store_id
                 INNER JOIN category c on c.id = pi.category_id
    </select>
    <select id="select" parameterType="Long" resultType="Sales">
        SELECT *
        FROM sales
        WHERE id = #{id}
    </select>
    <delete id="salesdelete" parameterType="Sales">
        DELETE FROM sales WHERE id = #{id}
    </delete>
</mapper>