<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipb.mapper.SalesIssueMapper">

    <!-- 이슈 등록 -->
    <insert id="insert" parameterType="SalesIssue">
        INSERT INTO sales_issue VALUES (NULL, #{orders_id}, #{qnt}, #{order_desc_id}, #{disposal_date})
    </insert>

    <!-- 이슈 수정 : 요구사항에는 없는데 본사에서 필요할까봐 -->
    <update id="update" parameterType="SalesIssue">
        UPDATE sales_issue SET qnt=#{qnt}, disposal_date=#{disposal_date} WHERE id = #{id}
    </update>

    <!-- 이슈 삭제 : 요구사항에는 없는데 본사에서 필요할까봐 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM sales_issue WHERE id = #{id}
    </delete>
<!--fini-->

    <!-- 이슈 조회 : 점포 아이디로 이슈 조회  -->
    <select id="select" parameterType="Long" resultType="SalesIssue">
        select od.name, pi.name, p.price, oi.qnt, oi.disposal_date, p.exp, c.name
        FROM orders_issue oi
        INNER JOIN orders_desc od on od.id = oi.orders_desc_id
        INNER JOIN orders o on o.id = oi.orders_id
        INNER JOIN product p on p.id = o.product_id
        INNER JOIN product_info pi on pi.product_code = p.product_info_id
        INNER JOIN category c on c.id = pi.category_id
        WHERE store_id =  #{store_id} ;
    </select>

    <!-- 이슈 전체 조회 : 요구사항에는 없는데 본사에서 필요할까봐 (이슈 상세 조회) -->
    <select id="selectall" resultType="SalesIssue">
        SELECT id, name, orders_id, qnt, order_desc_id, disposal_date FROM sales_issue
    </select>
<!--&lt;!&ndash;각 점포의 이슈 리스트를 이슈 이유,이슈 상품이름,판매가격,이슈 수량, 유통기한, 이슈 등록일 을 상품 카테고리 가져오고싶다&ndash;&gt;-->
<!--    <select id="ordersissueproductlist" resultType="SalesIssue">-->
<!--        select od.name, pi.name, p.price, oi.qnt, oi.disposal_date, p.exp, c.name-->
<!--        FROM orders_issue oi-->
<!--        INNER JOIN orders_desc od on od.id = oi.orders_desc_idstore_product-->
<!--        INNER JOIN orders o on o.id = oi.orders_id-->
<!--        INNER JOIN product p on p.id = o.product_id-->
<!--        INNER JOIN product_info pi on pi.product_code = p.product_info_id-->
<!--        INNER JOIN category c on c.id = pi.category_id-->
<!--        WHERE store_id = #{store_id};-->
<!--    </select>-->
<!--    &lt;!&ndash;각 점포의 이슈 리스트를 상품 카테고리 별로 가져오고싶다&ndash;&gt;-->
<!--    <select id="ordersissueproductlistcategory" resultType="SalesIssue">-->
<!--    select od.name, pi.name, p.price, oi.qnt, oi.disposal_date, p.exp, c.name-->
<!--    FROM orders_issue oi-->
<!--    INNER JOIN orders_desc od on od.id = oi.orders_desc_id-->
<!--    INNER JOIN orders o on o.id = oi.orders_id-->
<!--    INNER JOIN product p on p.id = o.product_id-->
<!--    INNER JOIN product_info pi on pi.product_code = p.product_info_id-->
<!--    INNER JOIN category c on c.id = pi.category_id-->
<!--    WHERE store_id = #{store_id} and c.name = #{category_name} ;-->
<!--    </select>-->
<!--    &lt;!&ndash;이슈 리스트를 상품 카테고리 별로 가져오고싶다&ndash;&gt;-->
<!--    <select id="ordersissueproductlistcategory" resultType="SalesIssue">-->
<!--        select od.name, pi.name, p.price, oi.qnt, oi.disposal_date, p.exp, c.name-->
<!--        FROM orders_issue oi-->
<!--        INNER JOIN orders_desc od on od.id = oi.orders_desc_id-->
<!--        INNER JOIN orders o on o.id = oi.orders_id-->
<!--        INNER JOIN product p on p.id = o.product_id-->
<!--        INNER JOIN product_info pi on pi.product_code = p.product_info_id-->
<!--        INNER JOIN category c on c.id = pi.category_id-->
<!--        WHERE c.name = #{category_name} ;-->
<!--    </select>-->

</mapper>
