<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipb.mapper.StoreAutoOrdersMapper">

    <!-- store_product_id로 store_auto_orders 전체를 가져온다. -->
    <select id="selectBySpi" parameterType="Long" resultType="StoreAutoOrders">
        SELECT * FROM store_auto_orders WHERE store_product_id = #{store_product_id}
    </select>

    <!-- 자동발주를 할 상품을 선택해서 자동발주테이블에 담기 -->
    <insert id="insert" parameterType="StoreAutoOrders">
        INSERT INTO store_auto_orders VALUES (NULL, #{qnt}, #{min_qnt}, #{store_product_id}, #{product_code})
    </insert>

    <!-- 자동발주 등록된 리스트 전체 불러오기 -->
    <select id="getAutoList" resultType="StoreAutoOrders">
        SELECT sao.*, sp.*
        FROM store_auto_orders sao
                 INNER JOIN store_product sp on sp.id = sao.store_product_id
        ORDER BY sp.store_id
    </select>

    <!-- 등록된 자동발주에서 기준재고수량과 최소재고수량을 변경하기 -->
    <update id="changeQnt" parameterType="StoreAutoOrders">
        UPDATE store_auto_orders SET qnt=#{qnt}, min_qnt=#{min_qnt} WHERE id = #{id}
    </update>

    <!-- 자동발주 삭제하기 -->
    <delete id="deleteAuto" parameterType="Long">
        DELETE FROM store_auto_orders WHERE id = #{id}
    </delete>

    <!-- 점포별 자동발주 내역 가져오기 -->
    <select id="selectAutoList" parameterType="Long" resultType="StoreAutoOrders">
        SELECT row_number() over(),
                pi.name as product_name,pi.brand,
                p.price as product_price,
                p.cost as product_cost,
                sao.qnt, sao.min_qnt, sao.product_code, sao.id
        FROM store_auto_orders sao
                 JOIN product_info pi ON pi.product_code = sao.product_code
                 JOIN product p ON p.product_info_id = pi.product_code
                 JOIN store_product sp ON sp.id = sao.store_product_id
        WHERE sp.is_auto = 1 and sp.store_id=#{store_id} group by sao.product_code
    </select>

    <select id="getList" parameterType="Long" resultType="StoreAutoOrders">
        SELECT * FROM store_auto_orders
        WHERE store_id = #{store_id}
    </select>

</mapper>

