<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipb.mapper.StoreProductMapper">

    <!-- 전체 상품을 store_id로 다 조회하지만 재고가 0인 상품도 조회고  재고가 0이고 유통기한이 지난 상품은 안보여짐 (유통기한 기준으로 오름차순) -->
    <select id="selectstoreproduct" parameterType="Long" resultType="StoreProduct">
        SELECT sp.id,
        pi.name as product_name,SUM(sp.qnt) as sp_qnt,
        p.price,
        pi.imgname,
        sp.qnt,
        p.cost,
        sp.is_using,
        pi.box_qnt,
        sp.is_auto,
        sp.event_rate,
        p.exp,
        pi.brand,
        c.name  as category_name,
        pi.detail,
        pi.storage,
        pi.product_code
        FROM store_product sp
        INNER JOIN product p on p.id = sp.product_id
        INNER JOIN product_info pi on pi.product_code = p.product_info_id
        INNER JOIN category c ON pi.category_id = c.id
        WHERE sp.store_id = 2
        AND ((sp.qnt > 0 AND p.exp >= DATE_ADD(CURDATE(), INTERVAL 1 DAY))
        OR (sp.qnt > 0 AND p.exp &lt; DATE_ADD(CURDATE(), INTERVAL 1 DAY)))
        AND sp.qnt > 0 and p.qnt >= 0
        GROUP BY sp.product_code
        ORDER BY p.exp ASC
    </select>

    <!-- ADD. SP 유통기한때문에 만들었습니다    -->
    <select id="selectallexpStoreProduct" parameterType="Long" resultType="StoreProduct">
        SELECT sp.id,
        pi.name as product_name,
        p.price,
        pi.imgname,
        sp.qnt,
        p.cost,
        sp.is_using,
        pi.box_qnt,
        sp.is_auto,
        sp.event_rate,
        p.exp,
        pi.brand,
        c.name  as category_name,
        pi.detail,
        pi.storage,
        pi.product_code
        FROM store_product sp
        INNER JOIN product p on p.id = sp.product_id
        INNER JOIN product_info pi on pi.product_code = p.product_info_id
        INNER JOIN category c ON pi.category_id = c.id
        WHERE sp.store_id = #{store_id}
        AND sp.qnt > 0
        ORDER BY p.exp ASC
    </select>
    <!-- 이 부분은 추후 자동발주 또는 점포보유상품을 불러오는 과정에서 바뀔수 있으니 서로 공유 해줘야합니다!!!
        윤민지, 채란 에게 얘기해줘야함!!!!
        -->
    <!-- 전체 상품을 store_id로 다 조회하지만 재고가 0인 상품도 조회 (유통기한 기준으로 오름차순) -->
    <select id="selectall" resultType="StoreProduct">
        SELECT sp.*, p.*
        FROM store_product sp
                 INNER JOIN product p on p.id = sp.product_id
        WHERE p.qnt >= 0
          AND store_id = #{store_id}
        ORDER BY p.exp ASC
    </select>
    <select id="selectallStore" resultType="StoreProduct">
        SELECT sp.*
        FROM store_product sp
    </select>

    <!-- 요구사항에 없지만 필요하겠지?  점포 재고에서 카테고리로 가져오기  (재고 0인 상품은 조회 x, 유통기한 기준으로 오름차순 ) -->
    <select id="selectcategoryname" parameterType="Hashmap" resultType="StockInfo">
        SELECT sp.id,
               pi.name as product_name,
               p.price,
               pi.imgname,
               pi.safe_qnt,
               sp.qnt,
               pi.detail,
               pi.box_qnt,
               sp.is_auto,
               sp.is_using,
               sp.is_auto,
               p.exp,
               pi.brand,
               pi.storage,
               c.name  as category_name,
               sp.store_price,
               sp.event_rate,
               pi.product_code
        FROM store_product sp
                 INNER JOIN product p on p.id = sp.product_id
                 INNER JOIN product_info pi on pi.product_code = p.product_info_id
                 INNER JOIN category c ON pi.category_id = c.id
        WHERE c.name = #{category_name}
          and store_id = #{store_id}
          AND sp.qnt >= 0
        ORDER BY p.exp ASC
    </select>

    <!--  (유통기한 날짜 별 조회) store아이디로 카테고리, 날짜를 검색하면 today 기준으로 원하는 그 날짜의 이하 상품이 조회된다-->
    <select id="selectexpAndExpiringSoon" parameterType="Hashmap" resultType="StockInfo">
        SELECT sp.id ,pi.name as product_name, p.price,
        pi.imgname,
        pi.safe_qnt,
        sp.qnt,
        pi.box_qnt,
        pi.detail,
        sp.is_using,
        sp.is_auto,
        p.exp,
        p.cost,
        pi.brand,
        pi.storage,
        c.name as category_name,
        pi.product_code,
        sp.store_price,
        sp.event_rate,
        pi.storage
        FROM store_product sp
                 INNER JOIN product p on p.id = sp.product_id
                 INNER JOIN product_info pi on pi.product_code = p.product_info_id
                 INNER JOIN category c ON pi.category_id = c.id
        WHERE c.name = #{category_name}
          and p.exp &lt;= DATE_ADD(CURDATE(), INTERVAL #{days} DAY)
          AND store_id = #{store_id}
          AND sp.qnt >= 0
        ORDER BY p.exp ASC
    </select>


    <!-- 요구사항에 없지만 필요하겠지? store_id 와 상품으로 검색하면 재고가 0인 상품 제외하고 검색 상품이 조회됨(유통기한 기준으로 오름차순) -->
    <select id="searchstoreproduct" parameterType="Hashmap" resultType="StockInfo">
        SELECT sp.id ,pi.name as product_name, p.price,
        sp.qnt,
        pi.box_qnt,
        pi.imgname,
        pi.safe_qnt,
        sp.is_using,
        p.cost,
        sp.is_auto,
        pi.detail,
        p.exp,
        pi.brand,
        pi.product_code,
        pi.storage,
        sp.store_price,
        sp.event_rate,
        c.name as category_name
        FROM store_product sp
                 INNER JOIN product p on p.id = sp.product_id
                 INNER JOIN product_info pi on pi.product_code = p.product_info_id
                 INNER JOIN category c ON pi.category_id = c.id
        WHERE pi.name LIKE CONCAT('%', #{txt}, '%')
          and store_id = #{store_id}
          AND sp.qnt >= 0
        ORDER BY p.exp ASC
    </select>

    <!--StoreProduct 추가 -->
    <insert id="insert" parameterType="StoreProduct">
        INSERT INTO store_product
        VALUES (NULL, #{qnt}, #{product_id}, #{store_id}, #{is_using}, #{store_price}, #{event_rate})
    </insert>

    <!--    StoreProduct 수량, 사용여부 수정-->
    <update id="update" parameterType="StoreProduct">
        UPDATE store_product
        SET qnt=#{qnt},
            is_using=#{is_using},
            store_price= #{store_price},
            event_rate= #{event_rate},
            is_auto = #{is_auto}
        WHERE id = #{id}
    </update>

    <!-- StoreProduct 삭제 기능대신 재고를 0으로 만들어줌 -->
    <update id="qntZero" parameterType="StoreProduct">
        UPDATE store_product
        SET qnt=0,
            is_using=0
        WHERE id = #{id}
    </update>

    <!-- 발주를 했을 때 STORE_PRODUCT 테이블의 상품재고 수량을 변경시킨다 -->
    <update id="updateqnt" parameterType="StoreProduct">
        UPDATE store_product
        SET qnt=#{qnt},
            store_price=#{store_price},
            event_rate=#{event_rate}
        WHERE id = #{id}
    </update>

    <!-- 해당상품을 상세 조회 -->
    <select id="select" parameterType="Long" resultType="StoreProduct">
        SELECT sp.id,
        sp.qnt,
        sp.product_id,
        sp.store_id,
        sp.store_price,
        sp.event_rate,
        pi.name as product_name,
        p.price,
        pi.box_qnt,
        pi.imgname,
        p.cost,
        sp.is_using,
        p.exp,
        pi.brand,
        c.name  as category_name,
        pi.detail,
        pi.product_code,
        pi.storage,
        sp.store_price,
        pi.safe_qnt
        FROM store_product sp
        INNER JOIN product p on p.id = sp.product_id
        INNER JOIN product_info pi on pi.product_code = p.product_info_id
        INNER JOIN category c ON pi.category_id = c.id
        WHERE sp.id = #{id}
    </select>

    <!-- store_id와 product_id를 조회하는 기능
    발주를 했을 때 해당되는 product_id와 store_id를 갖고 is_using=1(사용중)인 store_product를 검색한다.
    이 검색으로 찾은 store_product의 id를 사용하여 qnt를 수정함
    -->
    <select id="getStoreProductFromStoreIdAndProductId" parameterType="StoreProduct" resultType="StoreProduct">
        SELECT *
        FROM store_product
        WHERE store_id = #{store_id}
          AND product_id = #{product_id}
    </select>

    <select id="getStoreProductQntByStoreIdAndProductCode" parameterType="Long" resultType="Integer">
        SELECT sum(qnt)
        FROM store_product
        WHERE store_id = #{store_id}
          AND product_code = #{product_code}
          And is_using = 1;
    </select>

    <!-- 발주를 했을 때 STORE_PRODUCT 테이블의 상품재고 수량을 변경시킨다
    위의 getStoreProductFromStoreIdAndProductId가 실행되면 해당되는 store_product의 id의 qnt를 발주 수량만큼 변화시킴
    -->
    <update id="storeUpdateQnt" parameterType="StoreProduct">
        UPDATE store_product
        SET qnt=#{qnt}
        WHERE id = #{id}
    </update>

    <!-- 상세페이지에서 자동발주를 신청하면 신청한 정보를 자동발주로 보내준다. -->
    <select id="registerAuto" parameterType="StoreProduct">
        SELECT *
        FROM
    </select>

    <select id="getStoreProdListByProdCodeAndStoreId" parameterType="Long" resultType="StoreProduct">
        SELECT *
        FROM store_product
        WHERE product_code = #{productCode}
          AND store_id = #{storeId}
    </select>

    <!--  동일한 product_id, product_code 있는지 확인하는 쿼리  -->
    <select id="findProductIdAndProductCode" resultType="StoreProduct">
        SELECT sp.*, p.*, pi.*
        FROM store_product sp
                 JOIN product p on p.id = sp.product_id
                 JOIN product_info pi on pi.product_code = p.product_info_id
    </select>


    <select id="findExpiringProducts" resultType="StoreProduct">
        SELECT *
        FROM store_product
        WHERE expiry_date = #{expiryDate}
    </select>
    <!--    <select id="getProductsExpiringInThreeDays" resultType="com.example.domain.StoreProduct">-->
    <!--        SELECT * FROM store_product-->
    <!--        WHERE expiration_date = #{expirationDate}-->
    <!--    </select>-->
    <select id="getProductsExpiringInThreeDays" resultType="StoreProduct">
        SELECT sp.id,
               pi.name AS product_name,
               p.price,
               sp.qnt,
               pi.box_qnt,
               sp.is_auto,
               pi.imgname,
               p.cost,
               sp.is_using,
               pi.detail,
               p.exp,
               pi.brand,
               pi.product_code,
               pi.storage,
               pi.safe_qnt,
               sp.store_price,
               sp.event_rate,
               c.name  AS category_name
        FROM store_product sp
                 INNER JOIN product p ON p.id = sp.product_id
                 INNER JOIN product_info pi ON pi.product_code = p.product_info_id
                 INNER JOIN category c ON pi.category_id = c.id
        WHERE sp.store_id = #{store_id}
          AND p.exp &lt;= DATE_ADD(CURDATE(), INTERVAL #{days} DAY)
          AND sp.qnt > 0;
    </select>
    <select id="getProductsBetweenExpiring" parameterType="Long" resultType="StoreProduct">
        SELECT sp.id,
               pi.name as product_name,
               sp.store_id,pi.safe_qnt,
               p.price,
               pi.imgname,
               sp.qnt,
               sp.is_auto,
               pi.box_qnt,
               pi.detail,
               p.cost,
               sp.is_using,
               p.exp,
               pi.brand,
               sp.product_code,
               pi.storage,
               c.name  as category_name,
               sp.store_price,
               sp.event_rate,
               pi.storage,
               pi.safe_qnt
        FROM store_product sp
                 INNER JOIN product p on p.id = sp.product_id
                 INNER JOIN product_info pi on pi.product_code = p.product_info_id
                 INNER JOIN category c ON pi.category_id = c.id
        WHERE DATE_ADD(now(), INTERVAL #{max} DAY) >= p.exp
          AND p.exp > DATE_ADD(now(), INTERVAL #{min} DAY)
          AND store_id = #{store_id} AND pi.safe_qnt is not null AND  pi.safe_qnt != ''
          AND is_using = 1
        ORDER BY p.exp ASC
    </select>
    <select id="getLowInventoryProducts" resultType="StoreProduct">
        SELECT
        sp.id,
        sp.store_id,
        sp.product_id,
        pi.name AS product_name,
        sp.qnt,
        p.cost,
        sp.is_using,
        sp.is_auto,
        pi.product_code,
        pi.safe_qnt
        FROM
        store_product sp
        INNER JOIN product p ON p.id = sp.product_id
        INNER JOIN product_info pi ON pi.product_code = p.product_info_id
        INNER JOIN category c ON pi.category_id = c.id
        INNER JOIN store s ON s.id = sp.store_id
        WHERE
        sp.store_id = #{store_id}
        AND sp.qnt > 0
        AND pi.safe_qnt IS NOT NULL
        AND pi.safe_qnt > 0
        AND sp.is_auto &lt; 1
        AND sp.qnt &lt; pi.safe_qnt
    </select>

    <!-- 점포가 보유한 상품에서, 자동발주를 신청하지 않은 상품들 중 안전재고량 이하의 수량을 가진 상품들을 찾는다 -->
    <select id="notAutoLessQnt" resultType="StoreProduct">
        SELECT s.number as store_number, s.id as store_id, sp.qnt, pi.safe_qnt as safe_qnt
        FROM store_product sp
                 JOIN store s on s.id = sp.store_id
                 JOIN product_info pi on pi.product_code = sp.product_code
        WHERE sp.is_auto = 0
        AND pi.safe_qnt IS NOT NULL
        AND pi.safe_qnt > 0
        AND sp.qnt &lt; pi.safe_qnt
    </select>
    <select id="getExpiringStoreProductsms" resultType="StoreProduct">
    SELECT
        sp.id,
        sp.store_id,
        s.number,
        pi.name AS product_name,
        p.price,
        sp.qnt,
        p.cost,
        pi.box_qnt,
        sp.is_auto,
        pi.imgname,
        sp.is_using,
        pi.detail,
        p.exp,
        pi.brand,
        pi.product_code,
        pi.storage,
        sp.store_price,
        sp.event_rate,
        pi.safe_qnt,
        c.name  AS category_name
    FROM store_product sp
    INNER JOIN product p ON p.id = sp.product_id
    INNER JOIN product_info pi ON pi.product_code = p.product_info_id
    INNER JOIN category c ON pi.category_id = c.id
    INNER JOIN store s ON s.id = sp.store_id
    WHERE sp.store_id = #{store_id}
    AND p.exp &lt;= DATE_ADD(CURDATE(), INTERVAL #{days} DAY)
    </select>
</mapper>
