<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipb.mapper.StoreMapper">

    <!-- 점포에서 이미지를 보여주는 부분에 대해서 private MultipartFile img; 가 필요한데,
    domain에는 작성되지 않은 상황입니다. 처음 domain 생성시에 나중에 추가하기로 이야기를 했는데 이미지 부분에 문제가 있다면
    domain에 private MultipartFile img; 를 추가하고 테스트를 다시 해봐야 할 것 같습니다.
    -->

    <!-- 점포 등록 -->
    <insert id="insert" parameterType="Store">
        INSERT INTO store VALUES (NULL, #{name}, #{location}, #{number}, #{imgname}, #{area})
    </insert>

    <!-- 점포 수정 : 요구사항에는 없는데 있으면 편리하다고 생각되어서 점포이름, 전화번호, 사진을 변경할 수 있도록 작성함 -->
    <update id="update" parameterType="Store">
        UPDATE store SET name=#{name}, number=#{number}, imgname=#{imgname}, area=#{area} WHERE id = #{id}
    </update>

    <!-- 점포 삭제 : 점포가 폐점되는 경우를 생각해서 만들어둠 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM store WHERE id = #{id}
    </delete>

    <!-- 점포 조회 : 점포 아이디로 점포를 조회 (점포 정보 전체가 출력되는데, 일부분만 보여주게 될 경우 변경 필요) -->
    <select id="select" parameterType="Long" resultType="Store">
        SELECT * FROM store WHERE id = #{id}
    </select>

    <!-- 점포 전체 조회 : 점포 전체의 정보를 띄워줌 (본사에서 점포 상세 조회를 보려고 할 때) -->
    <select id="selectall" resultType="Store">
        SELECT * FROM store
    </select>

    <!-- 점포의 연락처를 가져온다. -->
    <select id="selectNumber" parameterType="Long" resultType="String">
        SELECT number FROM store WHERE id = #{id}
    </select>

</mapper>